/* sm */
@media (min-width: 640px) and (max-width: 768px) { 
    .container{
        width: 90%;
        margin: auto;
    }
    /*Navbar*/
    .navbar .container .name a{
        color: #212529;
        font-weight: 400;
        font-size: 25px;
        text-decoration: none;
    }
    .navbar .container .name a span{
        color: #ce1212;
        font-weight: 400;
    }
    .navbar .container .sections ul{
        list-style: none;
        display: flex;
        font-weight: 600;
        font-size: 16px;
    }
    .navbar .container .sections ul li{
        padding: 10px 10px;
    }
    .navbar .container .logo i{
        color: black;
        font-size: 20px;
        margin-left: 40%;
    }
    /*home*/
    .home .left .text .icons button{
        margin-right: 50px;
        margin-top: 10px;
        background-color: #ce1212;
        padding: 10px 20px;
        border-radius: 20px;
        border: 1px solid #ce1212;
        display: inline-block;
        width: 30%;
    }
    .home .left .text .icons button a{
        color: white;
        text-decoration: none;
        font-size: 10px;
        font-weight: 400;
        width: 150%;
    }
    .btn2{
        width: 50%;
        position: relative;
    }
    .home .left .text .icons .link{
        font-weight: 400;
        font-size: 16px;
        position: absolute;
        top: -25px;
        width: 30%;
        right: 50px;
    }
    .home .left .text .icons .icon{
        margin-right: 100%;
    }
    .home .left .text {
        text-align: center;
        margin: 0 20%;
        width: 100%;
    }
    .home .left .text p{
        text-align: center;
        margin-top: -30%;
        width: 200%;

    }
    .home .img .right{
        width: 100%;
    }
    .home .left , .home .right{
        float: none;
    }

    /*chefs*/
    .chefs .cards{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        flex-wrap: wrap;
    }
    .chefs .cards .card{
        width: 90%;
        margin: 30px 0;
    }
    .chefs .cards .card svg{
        height: 400px;
        width: 100%;
        object-fit: cover;
        padding-top: 35%;
        background-position: center;
        background-size: cover;
        transition: 1s;
    }

    /*Gallery*/
    .gallery{
        height: 900vh;
    }
    .gallery .image{
        display: flex;
        flex-wrap: wrap;
    }
    .gallery .image .image1{
        width: 100%;
        position: relative;
        margin: 30px 0;
    }

    /*Contact*/
    .contact .left{
        width: 100%;
    }
    .contact .right{
        width: 100%;
    }
    .contact .left .adress{
        background-color: #F5F5F5;
        padding-left: 20px;
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        height: 100px;
        margin:20px 20px;
    }

    /*Sign up*/
    .sign{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .sign .name .left , .sign .name .right{
        width: 100%;
    }
    .sign .name input{
        width: 100%;
        margin: 10px 0;
    }
    .sign .subject input{
        width: 100%;
        height: 40px;
        border: 1px solid #E8E3E3;
    }
    .sign textarea{
        width: 100%;
        height: 100px;
        border: 2px solid #E8E3E3;
    }
    .sign button{
        background-color: #ce1212;
        margin: 20px 35%;
        padding: 10px 20px;
        border: 1px solid #ce1212;
        border-radius: 30px;
        width: 30%;
    }

    /*Footer*/
    .footer{
        margin-top: 80%;
        height: 200vh;
    }
    .footer .cards{
        display: flex;
        column-gap: 60px;
        flex-wrap: wrap;
    }
    .footer .cards .card{
        width: 100%;
        margin-top: 50px;
    }
    .different{
        width: 100%;
    }
    .footer .cards .card .subscribe .mail{display: flex;flex-wrap: wrap;}
    .footer .cards .card .subscribe .mail input{
        width: 100%;
        height: 40px;
        margin: 10px 0;
    }
    .footer .cards .card .subscribe .mail button{
        padding: 10px 20px;
        margin: 10px 0;
        color: white;
        font-family: Arial;
        font-size: 15px;
        font-weight: 400;
        background-color: #ce1212;
        border: 0;
        display: flex;
        width: 100%;
    }
}


/* md */
@media  (min-width: 769px) and (max-width: 1023px)
{
    .container{
        width: 90%;
        margin: auto;
    }
    /*Navbar*/
    .navbar .container .name a{
        color: #212529;
        font-weight: 400;
        font-size: 25px;
        text-decoration: none;
    }
    .navbar .container .name a span{
        color: #ce1212;
        font-weight: 400;
    }
    .navbar .container .sections ul{
        list-style: none;
        display: flex;
        font-weight: 600;
        font-size: 16px;
    }
    .navbar .container .sections ul li{
        padding: 15px 15px;
    }
    .navbar .container .logo i{
        color: black;
        font-size: 20px;
        margin-left: 40%;
    }
    /*home*/
    .home .left .text .icons button{
        margin-right: 50px;
        margin-top: 10px;
        background-color: #ce1212;
        padding: 10px 20px;
        border-radius: 20px;
        border: 1px solid #ce1212;
        display: inline-block;
        width: 25%;
    }
    .home .left .text .icons button a{
        color: white;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
    }
    .home .left .text .icons .link{
        font-weight: 400;
        font-size: 16px;
        position: absolute;
        top: -25px;
        width: 30%;
        right: 130px;
    }
    .home .left .text .icons .icon{
        margin-right: 100%;
    }
    .home .left .text {
        text-align: center;
        margin: 0 20%;
        width: 100%;
    }
    .home .left .text p{
        text-align: center;
        margin-top: -30%;
        width: 200%;
        padding-top: 150px;

    }
    .home .img .right{
        width: 90%;
    }

    /*chefs*/
    .chefs .cards{
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        flex-wrap: wrap;
        column-gap: 10px;
        justify-content: start;
    }
    .chefs .cards .card{
        width: 40%;
        margin-left: 30px;
    }
    .chefs .cards .card svg{
        height: 400px;
        width: 100%;
        object-fit: cover;
        padding-top: 75%;
        background-position: center;
        background-size: cover;
        transition: 1s;
    }

    /*Gallery*/
    .gallery{
        height: 1000vh;
    }
    .gallery .image{
        display: flex;
        flex-wrap: wrap;
    }
    .gallery .image .image1{
        width: 90%;
        position: relative;
        margin: 30px 30px;
    }

    /*Contact*/
    .contact .left{
        width: 50%;
    }
    .contact .right{
        width: 50%;
    }
    .contact .left .adress{
        background-color: #F5F5F5;
        padding-left: 20px;
        padding-top: 20px;
        display: flex;
        height: 100px;
        margin:20px 20px;
    }
    .contact .left .adress .text{
        margin-top: -40px;
        margin-left: 50px;
    }

    /*Sign up*/
    .sign{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .sign .name .left , .sign .name .right{
        width: 100%;
    }
    .sign .name input{
        width: 100%;
        margin: 10px 0;
    }
    .sign .subject input{
        width: 100%;
        height: 40px;
        border: 1px solid #E8E3E3;
    }
    .sign textarea{
        width: 100%;
        height: 100px;
        border: 2px solid #E8E3E3;
    }
    .sign button{
        background-color: #ce1212;
        margin: 20px 35%;
        padding: 10px 20px;
        border: 1px solid #ce1212;
        border-radius: 30px;
        width: 30%;
    }

    /*Footer*/
    .footer{
        margin-top: 80%;
        height: 200vh;
    }
    .footer .cards{
        display: flex;
        column-gap: 60px;
        flex-wrap: wrap;
    }
    .footer .cards .card{
        width: 100%;
        margin-top: 50px;
    }
    .different{
        width: 100%;
    }
    .footer .cards .card .subscribe .mail{display: flex;flex-wrap: wrap;}
    .footer .cards .card .subscribe .mail input{
        width: 100%;
        height: 40px;
        margin: 10px 0;
    }
    .footer .cards .card .subscribe .mail button{
        padding: 10px 20px;
        margin: 10px 0;
        color: white;
        font-family: Arial;
        font-size: 15px;
        font-weight: 400;
        background-color: #ce1212;
        border: 0;
        display: flex;
        width: 100%;
    }
}
/* lg */
@media  (min-width: 1024px) and (max-width:1279px)
{

}
/* xl */
@media  (min-width: 1280px) 
{

}
/* lg */
@media  (min-width: 1536px) 
{

}